{% extends 'base.j2' %}

{% block content %}

    <h2 id="pageTitle">Services</h2>

    <p>
        This page records the details of Services offered by ProService Solutions. The main details include descriptive 
        information of the Services provided and the distinct Service Category they belong to.
    </p>

    <table>
        <thead>
            <tr>
                <th>Service ID</th>
                <th>Service</th>
                <th>Service Description</th>
                <th>Service Category</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    {% for key in item.keys() %}
                        {% if key != 'request_service_id' %}
                            <td>{{item[key]}}</td>
                        {% endif %}
                    {% endfor %}
                    {% if item.request_service_id %}
                        <td><button onclick="location.href='/delete-services/{{item.service_id}}'" disabled>Delete</button></td>
                    {% else %}
                        <td><button onclick="location.href='/delete-services/{{item.service_id}}'">Delete</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <strong>Note:</strong> Records cannot be deleted if there are associated records on the Requested Services page.
    </p>

    <p id="formDesc">
        Required fields for creating or updating a record are marked with an asterisk <span class="required"></span>.
    </p>

    <form action="/services" method="POST">

        <fieldset>

            <legend>Create Service</legend>
            
            <p class="alignedInput">
                <label for="service" class="required">Service (unique):</label>
                <input 
                    type="text"
                    name="service"
                    id="service"
                    maxlength="100"
                    size="25"
                    required
                />
            </p>
            
            <p class="alignedInput">
                <label for="serviceDescription" class="required">Service Description:</label>
                <textarea
                    name="serviceDescription"
                    id="serviceDescription"
                    row="3"
                    required
                ></textarea>
            </p>

            <p class="alignedInput">
                <label for="idFromServiceCategory">Service Category:</label>
                <select 
                    name="idFromServiceCategory"
                    id="idFromServiceCategory"
                >
                <option value="" selected></option>
                {% for item in service_categories_data %}
                    <option value="{{item.service_category_id}}">{{item.name}}</option>
                {% endfor %}
                </select>
            </p>

            <p>
                <button type="submit">Create</button>
                <button type="reset">Cancel</button>
            </p>

        </fieldset>

    </form>

    <form action="/update-services" method="POST">

        <fieldset>
            <legend>Update Service</legend>

            <p class="alignedInput">
                <label for="idFromService" class="required">Service (unique):</label>
                <select 
                    name="idFromService"
                    id="idFromService"
                    required
                >
                <option value="" selected></option>
                {% for item in data %}
                    <option value="{{item.service_id}}">{{item.name}}</option>
                {% endfor %}
                </select>
            </p>
            
            <p class="alignedInput">
                <label for="serviceDescription" class="required">Service Description:</label>
                <textarea
                    name="serviceDescription"
                    id="serviceDescription"
                    row="3"
                    required
                ></textarea>
            </p>

            <p class="alignedInput">
                <label for="idFromServiceCategory">Service Category:</label>
                <select 
                    name="idFromServiceCategory"
                    id="idFromServiceCategory"
                >
                <option value="" selected></option>
                {% for item in service_categories_data %}
                    <option value="{{item.service_category_id}}">{{item.name}}</option>
                {% endfor %}
                </select>
            </p>

            <p>
                <button type="submit">Update</button>
                <button type="reset">Cancel</button>
            </p>

        </fieldset>

    </form>

{% endblock %}